<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.13.2" targetFramework="net48" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.0.1" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.0.1" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="95.0.4638.6900" targetFramework="net48" />
</packages>